<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partial/head-bootstrap') %>
    <title>Document</title>
</head>
<body>

    <h1>ADD Investor</h1>
    <div class="error">
    <% if( error ) { %>
            <% error.split(',').forEach(elem => { %>
                <p><%= elem %></p>
            <% }); %>
    <% } %>
    
        </div>
    <br>
    <form action="/investor/add" method="post">
        <div>
            <label>Name Company</label>
            <input type="text" name="nameInvestor">
        </div>
        <button type="submit">Add</button>
    </form>
</body>
</html>