<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
    <%- include('partial/head-bootstrap') %>
        <style>
            /* a:link,
            a:visited {
                background-color: grey;
                color: white;
                padding: 14px 25px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
            }

            a:hover,
            a:active {
                background-color: lightgray;
            } */
        </style>
</head>

<body class="">
    <%- include('partial/navbar') %>
        <h1>Welcome to BinoVo</h1>

        <a href='/login'>Login</a>
        <a href="/register">Register</a>
</body>

</html>