
<nav class="flex justify-between bg-[#0f172a] h-[3em] items-center text-white px-10 text-2xl">
    <div><a href="/" class="inline-block hover:underline">Home</a></div>
    <div>
        <a href="/logout" class="inline-block mr-5 hover:underline">Logout</a>
    </div>
</nav>